// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reports.show {

  //***************************************************************************
  // Status Totals
  //***************************************************************************

  #green-title {
    color: green;
    font-weight: bold;
  }

  #yellow-title {
    color: #b8860b;
    text-shadow: black;
    font-weight: bold;
  }

  #red-title {
    color: #8b0000;
    font-weight: bold;
  }

  #none-title {
    font-weight:  bold;
  }

  //***************************************************************************
  // Revenue / Expense / Profit
  //***************************************************************************

  #profit-table {
    td:nth-child(2) {
      text-align: right;
    }

    form {
      margin-bottom: 0px;

      input {
        margin-bottom: 0px;
        text-align: right;
        width: 56px;
        height: 10px;
      }
    }

    .title-col {
      width: 20%;
    }

    .value-col {
      width:70%
    }

    .button-col {
      width: 10%;
    }

    #revenue-val, #expense-val {
      //display: none;
    }

    #revenue-form, #expense-form {
      display: none;
    }

    .profit-row td {
      border-top: 2px solid black;
      font-weight: bold;
    }
  }

  //***************************************************************************
  // New Work Item
  //***************************************************************************

  #new-work-item-form {
    display: none;
  }

  .description-field {
    height: 40px;
    width: 725px;
  }

  //***************************************************************************
  // Work Item List
  //***************************************************************************

  #work-items-data {
    .row {
      margin-left: 0;

      div:first-child {
        margin-left: 0;
      }

      div:first-child div {
        margin-left: 0;
      }
    }

    form {
      input {
        margin-bottom: 0px;
      }
      margin-bottom: 0px;
    }

    select {
      width: 75px;
    }
  }

  .work-item, .edit-work-item {
    padding: 10px 0;
    border-top: 1px solid #d3d3d3;

    .description {
      font-size: 16px;
      line-height: 25px;
    }

    .comment {
      font-style: italic;
    }
  }

  .edit-work-item {
    input[type="text"] {
      width: 750px;
    }

    textarea {
      width: 750px;
      font-size: 16px;
    }

    .comment input {
      font-style: italic;
    }
  }

  #work-items div:last-child {
    border-bottom: 1px solid #d3d3d3;
  }
  #work-items div div:last-child {
    border-bottom: none;
  }

}